PRIVATE_KEY=""
RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=

LIL_JIT_ENDPOINT = https://blue-bitter-mountain.solana-mainnet.quiknode.pro/
LIL_JIT_WEBSOCKET_ENDPOINT = wss://blue-bitter-mountain.solana-mainnet.quiknode.pro/

LIL_JIT_MODE="false"

SWAP_AMOUNT=1             
DISTRIBUTION_WALLETNUM=16       

JITO_FEE=0.001

TOKEN_NAME="0xMuseNine"
TOKEN_SYMBOL="MuseNine"
DESCRIPTION='0xMuseNine is super dev on Crypto'
TOKEN_SHOW_NAME="MN"
TOKEN_CREATE_ON="https://bonk.fun"
TWITTER="https://x.com/"
TELEGRAM="https://t.me"
WEBSITE="https://website.com"
FILE="./image/2.jpg"
VANITY_MODE="false"
BUYER_WALLET=""
BUYER_AMOUNT=
